
// Medical Clinic
.clinic {
  .img {
    width: 100%;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .title {
    h2 {
      font-size: 50px;
      margin-bottom: 30px;
      span {
        font-size: 50px;
        display: inline;
      }
    }
    p {
      margin-bottom: 30px;
    }
    button {
      margin-right: 20px;
    }
  }
  
}

// Our Services
.our-services {
  background: #f8f9fa ;
  .p-right {
    h2 {
      padding-top: 6rem;
      margin-bottom: 50px;
    }
    .media {
      .icon {
        margin-right: 20px;
        span {
          font-weight: 400;
          &::before {
            font-size: 50px;
            background: linear-gradient(#fe5f55, #207dff);
            -webkit-text-fill-color: transparent;
            background-clip: text;
          }
        }
      }
      .media-body {
        h4 {
          font-weight: 500;
        }
      }
    }
  }
  // Appointment Form
  .appointment {
    background: $white;
    padding: 6rem 3rem 3rem;
    form {
      h4 {
        color: $primary;
        font-size: 16px;
        margin-bottom: 30px;;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 600;
      }
      input {
        width: 100%;
        margin-bottom: 20px;
        border-radius: 20px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        outline: none;
        padding: 15px 20px;
        color: rgba(0, 0, 0, 0.5);
      }
      .select-wrap {
        position: relative;
        .icon {
          position: absolute;
          top: calc(50% - 10px);
          right: 20px;
          transform: translateY(-50%);
          svg {
            color: rgba(0, 0, 0, 0.5);
            font-size: 14px;
          }
        }
        select {
          appearance: none;
          @extend input;
        }
      }
      textarea {
        @extend input;
      }
      button {
        width: 100%;
        font-size: 20px;
        margin-bottom: 20px;
      }
    }
  }
}


// Intro
.intro {
  @include background('../img/intro.jpg');
  padding: 100px 0;
  position: relative;
  z-index: 2;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00000047;
    z-index: -1;
  }
  h2 {
    color: $white;
    font-size: 50px;
  }
  p { 
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 30px;
  }
}

// Department
.department {
  .img {
    width: 100%;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .department-wrap {
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transform: perspective(1px) translateZ(0);
    border-left: 1px solid rgba(0,0,0,0.1);
    height: 100%;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      background: $primary;
      border-radius: 100%;
      transform: scale(0);
      transition: all .5s;
    }
    span {
      font-weight: 400;
      &::before {
        font-size: 40px;
      }
    }
    h3 {
      font-size: 25px;
      color: $black;
      font-weight: 400;
    }
    &:hover {
      &::before {
        transform: scale(2);
        transition: all .5s ease-out;
      }
      span {
        &::before {
          color: $white;
        }
      }
      h3 {
        color: $white;
      }
      p {
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }
}

// Our Qualified
.our-qualified {
  .staff {
    .imgs {
      position: relative;
      overflow: hidden;
      img {
        position: relative;
        top: 0;
        transition: all .5s;
      }
      ul {
        position: absolute;
        bottom: -55px;
        left: 50%;
        -webkit-transform: translate(-50%);
        transform: translate(-50%);
        margin: 0;
        background: $white;
        width: 100%;
        padding: 10px 0;
        transition: all .3s;
        svg {
          margin: 0 10px 0px;
          color: $primary-color;
          cursor:pointer;
          font-size: 18px;
        }
      }
    }
    .text {
      h4 {
        font-size: 22px;
        line-height: 1;
        margin-top: 20px;
        margin-bottom: 12px;
        font-weight: 500;
      }
      span {
        margin-bottom: 18px; 
      }
      button {
        padding: 10px 20px;
        font-size: 16px;
      }
    }
    &:hover {
      img {
        top: -10px;
      }
      ul {
        bottom: 0;
      }
    }
  }
}


// Facts
.ftco-facts {
  @extend header;
  position: relative;
  z-index: 2;
  &::after {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: $primary;
    opacity: .8;
  }
  .subheading {
    span {  
      color: rgba(255, 255, 255, 0.8);
      margin-bottom: 20px;
    }
    h2 {
      color: $white;
      margin-bottom: 25px;
      font-size: 45px;
    }
  }
  .text {
    padding: 40px;
    h2 {
      color: $white;
      font-size: 50px;
    }
    span {
      color: rgba(255, 255, 255, 0.8);
    }
  }
}


// Every Single
.every-single {
  .staff {
    .text {
      span {
        letter-spacing: 1.5px;
        margin: 20px 0 10px;
        color: $primary-color;
      }
      h4 {
        font-weight: 500;
        &:hover {
          color: $primary;
          cursor: pointer;
        }
      }
      button {
        padding: 10px 20px;
        font-size: 16px;
      }
    }
  }
}

// Our Patient Says
.testimony-section {
  @include background('../img/header.jpg');
  position: relative;
  z-index: 2;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $primary;
    opacity: .7;
    z-index: -1;
  }
  .title {
    span {
      color: rgba(255, 255, 255, 0.9);
    }
    h2 {
      color: $white;
      margin-top: 10px;
    }
  }
  .item {
    .imgs {
      img {
        width: 130px;
        height: 130px;
      }
      svg {
        padding: 8px;
        border-radius: 50%;
        background: $primary-color;
        color: $white;
        height: 34px;
        width: 34px;
        margin-left: -24px;
        margin-bottom: -48px;
      }
    }
    .text {
      p {
        margin: 20px 0 15px;
        color: rgba(255, 255, 255, 0.7);
      }
      h5 {
        color: $white;
        font-weight: 500;
      }
      span {
        color: rgba(255, 255, 255, 0.7);
        letter-spacing: 1px;
        font-weight: 400;
      }
    }
  }
}

// Contact Us
.contact-us {
  .box {
    padding: 40px;
    background: transparent;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
     0 3px 6px rgba(0, 0, 0, 0.23);
    .icone {
      svg {
        color: $primary;
        font-size: 30px;
      }
    }
    .text {
      margin-top: 40px;
      h5 {
        color: rgba(0, 0, 0, 0.9);
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
      p {
        color: $offwhite;
      }
      p {
        a {
          color: #1a1a1ac7;
        }
      }
    }
  }


  .cont {
    .maap {
      .ifra-1 {
      overflow:hidden;
      max-width: 100%;
      }
    }
    .contact {
      form {
        background:#f8f9fa;
        padding: 40px 0;
        input, textarea {
          width: 80%;
          border: 1px solid rgba(0, 0, 0, 0.1);
          outline: none;
          color: rgba(0, 0, 0, 0.5);
          display: block;
          margin: 10px auto 20px;
          border-radius: 20px;
          padding: 15px 20px;
          
        }
        button {
          padding: 10px 70px;
          margin-top: 10px;
        }
      }
    }
  }
}


body {
  overflow: hidden;
  font-family: $font-family;
}


// Loading Page
.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $primary;
  z-index: 999999999999999999;
  .spinner {
    position: relative;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .double-bounce1,
    .double-bounce2 {
      position: absolute;
      background-color: #fff;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      opacity: 0.6;
      top: 0;
      left: 0;
      animation: sk-bounce 2s infinite ease-in-out;
    }
    .double-bounce2 {
      animation-delay: -1s;
    }
  }
}

@keyframes sk-bounce {
  0%,
  100% {
      transform: scale(0.0);
  }
  50% {
      transform: scale(1.0);
  }
}
