//Color Variables
$primary	    : #207dff;
$primary-color  : #fe5f55;
// #1d0092

$title-color	: #23282D;
$text-color		: #767676;

$white			: white;
$offwhite		: #999999;
$black			: #000000;


$title-color: rgba(0,0,0,0.9);
$font-color: #999999;

//Font Family
$font-family: 'Poppins', sans-serif;



